.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 330px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    min-width: 730px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 990px;
    max-width: 100%;
  }

  @media screen and (min-width: 1920px) {
    min-width: 1890px;
    max-width: 100%;
  }
}

.wrap_section {
  background-color: var(--background-color);
  text-align: start;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.desktop_wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 90px;
  }

  @media screen and (min-width: 1200px) {
    gap: 150px;
  }

  @media screen and (min-width: 1440px) {
    gap: 300px;
  }

  @media screen and (min-width: 1920px) {
    gap: 400px;
  }
}

.container_back_word {
  &::before {
    content: "digital";
    position: absolute;
    bottom: -12%;
    left: -14%;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-home-back-word);
    font-weight: 900;
    color: var(--sidebar-background-color);
    text-transform: uppercase;
    transform: rotate(-90deg);
    z-index: 83;

    @media screen and (min-width: 1200px) {
      bottom: -29%;
      left: -12%;
    }

    @media screen and (min-width: 1440px) {
      bottom: -9%;
      left: -10%;
    }

    @media screen and (min-width: 1920px) {
      bottom: -17%;
      left: -7%;
    }
  }

  &::after {
    content: "digital";
    position: absolute;
    top: 9%;
    left: -28%;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-home-big-word);
    font-weight: 900;
    color: var(--sidebar-background-color);
    opacity: 0.25;
    text-transform: uppercase;
    transform: rotate(-90deg);
    z-index: 83;

    @media screen and (min-width: 1200px) {
      top: 23%;
      left: -22%;
    }

    @media screen and (min-width: 1440px) {
      top: 32%;
      left: -19%;
    }

    @media screen and (min-width: 1920px) {
      top: 54%;
      left: -13%;
    }
  }
}

.img_home {
  position: relative;
  top: -14%;
  left: 9%;
  z-index: 80;
}

.wrap_content {
  padding-bottom: 100px;

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1440px) {
    &::before {
      content: "products";
      position: absolute;
      top: 57%;
      left: 13%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-back-word);
      font-weight: 900;
      color: var(--primary-color);
      text-transform: uppercase;
      transform: rotate(-90deg);
      z-index: 83;

      @media screen and (min-width: 1920px) {
        top: 38%;
        left: 19%;
      }
    }

    &::after {
      content: "products";
      position: absolute;
      top: 15%;
      left: -2%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-big-word);
      font-weight: 900;
      color: var(--primary-color);
      opacity: 0.03;
      text-transform: uppercase;
      transform: rotate(-90deg);
      z-index: 83;

      @media screen and (min-width: 1920px) {
        top: 26%;
        left: 9%;
      }
    }
  }

  @media screen and (min-width: 1920px) {
    padding-top: 110px;
  }
}

.title {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;

  @media screen and (min-width: 1024px) {
    font-size: var(--title-home-font-size);
  }
}

.description {
  color: var(--secondary-color);
  font-size: var(--modal-font-size);
  font-weight: 400;
  margin-bottom: 50px;

  @media screen and (min-width: 1024px) {
    font-size: var(--home-desc-font-size);
    margin-bottom: 60px;
  }
}

.wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 14px;
  padding-top: 90px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }
}

.subtitle {
  color: var(--accent-color);
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  letter-spacing: 1.2;
  text-transform: uppercase;
}

.wrapper_section {
  background-color: var(--background-color);
  text-align: start;
}

.desk_wrap {
  @media screen and (min-width: 1920px) {
    display: flex;
    gap: 120px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.content {
  @media screen and (min-width: 1024px) {
    padding-left: 120px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 250px;
  }
}

.second_title {
  font-size: var(--second-title-font-size);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 20px;

  @media screen and (min-width: 1440px) {
    font-size: var(--title-desktop-font-size);
  }
}

.btn {
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 70px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon_arrow__white {
  fill: var(--primary-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;

  @media screen and (min-width: 475px) {
    width: 400px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 120px;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
    width: 900px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 250px;
    width: 1100px;
  }

  @media screen and (min-width: 1920px) {
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.list_item {
  border: 2px solid rgba(248, 248, 252, 0.1);
  padding: 61px 55px;

  @media screen and (min-width: 1024px) {
    &:nth-child(odd) {
      margin-top: auto;
      margin-bottom: -30px;
    }
  }

  @media screen and (min-width: 1920px) {
    &:nth-child(odd) {
      margin-bottom: -30px;
    }
  }
}

.btn_arrow {
  color: var(--secondary-color);
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 60px;

  @media screen and (min-width: 1920px) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.svg_arrow__black {
  fill: var(--third-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.section_wrap {
  background-color: var(--background-color);
  text-align: start;
  overflow: hidden;
}

.back_wrap {
  @media screen and (max-width: 550px) {
    position: relative;
    display: block;
    background-image: url("../../images//image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 560px;
    overflow: hidden;
  }

  @media screen and (min-width: 551px) {
    display: none;
  }
}

.back_wrap_word {
  @media screen and (max-width: 550px) {
    position: relative;
    top: 74%;
    left: -44%;
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);

    &::after {
      content: "digital";
      position: absolute;
      top: 11%;
      left: 16%;
      color: var(--background-color);
      opacity: 0.25;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-back-word);
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.desktop_img {
  @media screen and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    width: 700px;
    height: 100%;
  }
}

.desktop_wrap {
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 90px;
    padding-left: 125px;
  }

  @media screen and (min-width: 1920px) {
    gap: 130px;
  }
}

.word_wrapper {
  position: relative;
  &::before {
    content: "digital";
    position: absolute;
    top: 57%;
    left: -45%;
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-home-back-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);

    @media screen and (min-width: 1920px) {
      top: 74%;
      left: -33%;
    }
  }

  &::after {
    content: "digital";
    position: absolute;
    top: 18%;
    left: -75%;
    color: var(--background-color);
    opacity: 0.25;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-home-big-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);

    @media screen and (min-width: 1920px) {
      top: 50%;
      left: -55%;
    }
  }
}

.wrap_section__we {
  text-align: start;

  @media screen and (min-width: 1024px) {
    padding-left: 120px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 0;
  }

  @media screen and (min-width: 1920px) {
    padding: 222px 0px 222px 0px;
  }
}

.list_second {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 70px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.list_item_second {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrap_section_blog {
  background-color: var(--background-color);
  text-align: start;
  overflow: hidden;
}

.wrap_padding {
  @media screen and (min-width: 1024px) {
    padding-left: 120px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 250px;
  }
}

.blog_list {
  padding-bottom: 100px;

  @media screen and (min-width: 500px) {
    display: flex;
    gap: 30px;
  }
}

.blog_list_item {
  @media screen and (min-width: 1024px) {
    width: 330px;
  }

  @media screen and (min-width: 1440px) {
    width: 430px;
  }

  @media screen and (min-width: 1920px) {
    width: 555px;
  }
}

.desktop_word_blog {
  position: relative;
  top: 70%;
  left: -75%;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-word);
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    top: 118%;
    left: -75%;
  }

  @media screen and (min-width: 1440px) {
    font-size: var(--font-size-home-back-word);
    top: 85%;
    left: -135%;
  }

  @media screen and (min-width: 1920px) {
    top: 200%;
    left: -170%;
  }
}

.wrap_blog_words {
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.wrap_two_words {
  @media screen and (max-width: 1023px) {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(-90deg);

    &::before {
      content: "news";
      position: absolute;
      top: 30%;
      left: -75%;
      color: var(--primary-color);
      opacity: 0.03;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-back-word);
      font-weight: 900;
      text-transform: uppercase;

      @media screen and (min-width: 1200px) {
        top: 80%;
        left: -75%;
      }

      @media screen and (min-width: 1440px) {
        font-size: var(--font-size-home-big-word);
        top: 10%;
        left: -135%;
      }

      @media screen and (min-width: 1920px) {
        top: 120%;
        left: -170%;
      }
    }
  }
}

.desktop_title_wrap {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: baseline;
    gap: 165px;
  }

  @media screen and (min-width: 1440px) {
    gap: 265px;
  }

  @media screen and (min-width: 1920px) {
    gap: 510px;
  }
}

.btn_blog {
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 48px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.percent {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0f1118;
  z-index: 1;

  .number {
    position: absolute;
    top: 34%;
    left: 30%;

    h2 {
      color: #fff;
      font-size: 23px;

      span {
        color: #fff;
        padding-left: 3px;
        font-size: 16px;
      }
    }
  }

  &:nth-child(1) {
    svg {
      circle {
        &:nth-child(2) {
          stroke-dashoffset: calc(260 - (260 * 63) / 100);
          stroke: #ff455b;
        }
      }
    }
  }

  &:nth-child(2) {
    svg {
      circle {
        &:nth-child(2) {
          stroke-dashoffset: calc(260 - (260 * 87) / 100);
          stroke: red;
        }
      }
    }
  }
}

.svg_circle {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(35deg);

  stroke: #989cac;
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 250;
}

.title_wrap {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-size: var(--list-font-size);
  font-weight: 600;
  text-transform: capitalize;
}

.description_wrap {
  color: var(--secondary-color);
  font-size: var(--btn-font-size);
  font-weight: 400;
}
