.container {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);

  @media screen and (min-width: 475px) {
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1280px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1920px) {
    max-width: 100%;
  }
}

.wrap_section {
  padding: 137px 15px 70px 15px;
  text-align: start;

  @media screen and (min-width: 1920px) {
    padding: 260px 300px 260px 1100px;

    &::before {
      content: "digital";
      position: absolute;
      bottom: 16%;
      left: -7%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-back-word);
      font-weight: 900;
      color: var(--sidebar-background-color);

      text-transform: uppercase;
      transform: rotate(-90deg);

      z-index: 83;
    }

    &::after {
      content: "digital";
      position: absolute;
      top: 44%;
      left: -13%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-big-word);
      font-weight: 900;
      color: var(--sidebar-background-color);
      opacity: 0.25;

      text-transform: uppercase;
      transform: rotate(-90deg);

      z-index: 83;
    }
  }
}

.wrapper_section {
  padding: 100px 15px 70px 15px;
  text-align: start;

  @media screen and (min-width: 1920px) {
    display: flex;
    gap: 50px;
    padding: 260px 30px 260px 320px;
  }
}

.content {
  @media screen and (min-width: 1920px) {
    margin-top: auto;
    margin-bottom: -50px;
  }
}

.img_home {
  @media screen and (max-width: 1279px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    left: 3%;
    width: 500px;
    z-index: 80;
  }

  @media screen and (min-width: 1920px) {
    width: 700px;
    // height: 700;
  }
}

.wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 14px;
}

.subtitle {
  color: var(--accent-color);
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  letter-spacing: 1.2;
  text-transform: uppercase;
}

.title {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 700;
  text-transform: capitalize;

  margin-bottom: 30px;

  @media screen and (min-width: 1920px) {
    font-size: var(--title-home-font-size);

    &::before {
      content: "products";
      position: absolute;
      top: 37%;
      left: 24%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-back-word);
      font-weight: 900;
      color: var(--primary-color);

      text-transform: uppercase;
      transform: rotate(-90deg);

      z-index: 83;
    }

    &::after {
      content: "products";
      position: absolute;
      top: 46%;
      left: 17%;
      font-family: "Raleway", sans-serif;
      font-size: var(--font-size-home-big-word);
      font-weight: 900;
      color: var(--primary-color);
      opacity: 0.03;

      text-transform: uppercase;
      transform: rotate(-90deg);

      z-index: 83;
    }
  }
}

.description {
  color: var(--secondary-color);
  font-size: var(--modal-font-size);
  font-weight: 400;
  margin-bottom: 50px;

  @media screen and (min-width: 1920px) {
    font-size: var(--home-desc-font-size);
    margin-bottom: 60px;
  }
}

.second_title {
  font-size: var(--second-title-font-size);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 20px;

  @media screen and (min-width: 1920px) {
    font-size: var(--title-desktop-font-size);
  }
}

.btn {
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 70px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon_arrow__white {
  fill: var(--primary-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 1920px) {
    flex-direction: row;
  }
}

.list_item {
  border: 2px solid rgba(248, 248, 252, 0.1);
  padding: 61px 55px;

  @media screen and (min-width: 1920px) {
    &:nth-child(odd) {
      margin-top: auto;
      margin-bottom: -50px;
    }
  }
}

.btn_arrow {
  color: var(--secondary-color);
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 60px;

  @media screen and (min-width: 1920px) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.svg_arrow__black {
  fill: var(--third-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.back_wrap {
  position: relative;
  display: block;
  background-image: url("../../images//image.jpg");
  width: 100vw;
  height: 560px;

  &::before {
    content: "digital";
    position: absolute;
    top: 74%;
    left: -26%;
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }

  &::after {
    content: "digital";
    position: absolute;
    top: 44%;
    left: -51%;
    color: var(--background-color);
    opacity: 0.25;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-back-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
}

.desktop_img {
  position: relative;
  width: 900px;
  height: 100%;

  &::before {
    content: "digital";
    position: absolute;
    top: 10%;
    left: 30%;
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }

  &::after {
    content: "digital";
    position: absolute;
    top: 44%;
    left: -51%;
    color: var(--background-color);
    opacity: 0.25;
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-back-word);
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
}

.desktop_wrap {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1920px) {
    flex-direction: row;
    gap: 120px;
    padding: 0px 180px 0px 140px;
  }
}

.wrap_section__we {
  padding: 100px 15px 130px 15px;
  text-align: start;

  @media screen and (min-width: 1920px) {
    padding: 222px 0px 222px 0px;
  }
}

.list_second {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list_item_second {
  display: flex;
  gap: 40px;
}

.wrap_section_blog {
  padding: 90px 15px 50px 15px;
  text-align: start;

  @media screen and (min-width: 1920px) {
    padding: 200px 390px 206px 390px;
  }
}

.blog_list {
  @media screen and (min-width: 1920px) {
    display: flex;
    gap: 30px;
  }
}

.blog_list_item {
  width: 330px;

  @media screen and (min-width: 1920px) {
    width: 555px;
  }
}

.desktop_title_wrap {
  @media screen and (min-width: 1920px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.btn_blog {
  background-color: inherit;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--btn_arrow_font-size);
  font-weight: 800;
  letter-spacing: 0.7;
  text-transform: uppercase;
  margin-bottom: 48px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
