.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 330px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    min-width: 730px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 990px;
    max-width: 100%;
  }
}

.header {
  background-color: var(--background-color);
}

.wrap {
  display: flex;

  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 25px 35px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 43px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 45px;
  }

  @media screen and (min-width: 1920px) {
    padding-left: 58px;
  }
}

.wrap_btn {
  display: flex;
  align-items: center;
  gap: 110px;
}

.btn_menu {
  padding: 0;
  display: block;
  background-color: transparent;
  border: none;
  z-index: 85;
}

.icon_burger {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition-timing-function: var(--transition_data);
  }
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 85;
}

.icon_logo {
  width: 69px;
  height: 20px;
  fill: var(--primary-color);

  @media screen and (min-width: 1200px) {
    width: 120px;
    height: 35px;
  }

  &:hover,
  &:focus {
    stroke: var(--accent-color);
    fill: var(--accent-color);
    transition: var(--transition_data);
  }
}

.icon {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.wrap_phone {
  display: flex;
  gap: 50px;
}

.icon_phone {
  stroke: var(--primary-color);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    stroke: var(--accent-color);
    transition: var(--transition_data);
  }
}

.icon_phone_desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    stroke: var(--primary-color);
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.btn_phone {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    color: var(--primary-color);
    font-size: var(--btn_arrow_font-size);
    font-weight: 600;
  }

  @media screen and (min-width: 1200px) {
    font-size: var(--list-font-size);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.btn_desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    color: var(--primary-color);
    font-size: var(--btn-font-size);
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 40px;
    background-color: inherit;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  @media screen and (min-width: 1920px) {
    margin-right: 59px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: var(--transition_data);
  }
}
