.container {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);

  @media screen and (min-width: 475px) {
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1280px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1920px) {
    max-width: 100%;
  }
}

.wrap {
  display: flex;
  background-color: var(--background-color);
  padding: 15px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.btn_menu {
  padding: 0;
  display: block;
  background-color: inherit;
  border: none;
  z-index: 999;

  @media screen and (min-width: 768px) {
    margin-left: 40px;
    margin-right: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 23px;
    margin-right: 80px;
  }
}

.icon_burger {
  fill: var(--primary-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition-timing-function: var(--transition_data);
  }
}

.btn {
  padding: 0;
  display: block;
  background-color: inherit;
  border: none;
}

.icon {
  // display: inline-block;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    margin-left: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 580px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 750px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.icon_phone {
  stroke: var(--primary-color);

  &:hover,
  &:focus {
    stroke: var(--accent-color);
    transition: var(--transition_data);
  }
}

.btn_phone {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    color: var(--primary-color);
    font-size: var(--list-font-size);
    font-weight: 600;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition_data);
  }
}

.btn_desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    color: var(--primary-color);
    font-size: var(--btn_arrow_font-size);
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px 20px;
    background-color: inherit;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  @media screen and (min-width: 1280px) {
    font-size: var(--btn-font-size);
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: var(--transition_data);
  }
}
