.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 330px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    min-width: 730px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 990px;
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    min-width: 1100px;
  }
}

.footer {
  background-color: var(--background-color);
  text-align: start;
}

.after_line {
  padding-top: 50px;

  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--primary-color);
      opacity: 0.05;
      margin-top: 45px;
      margin-bottom: 53px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding-left: 120px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 250px;
    padding-right: 260px;
  }

  @media screen and (min-width: 1920px) {
    padding-right: 500px;

    &::after {
      content: "";
      margin-top: 45px;
      margin-bottom: 53px;
    }
  }
}

.footer_links {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.icon_logo {
  fill: var(--primary-color);
  opacity: 0.5;
  margin-bottom: 40px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 21px;
}

.item {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 0.2;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.desktop_footer {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0.05;
    margin-top: 40px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 120px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 250px;
    padding-right: 260px;
  }

  @media screen and (min-width: 1920px) {
    padding-right: 500px;
  }
}

.wrap_footer {
  padding-bottom: 50px;

  @media screen and (min-width: 1024px) {
    padding-bottom: 0;
  }
}

.list_footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 70px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 80px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1920px) {
    gap: 130px;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: var(--btn-font-size);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 11px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.desc {
  font-size: var(--btn_arrow_font-size);
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 1.8;
}

.social_list {
  display: flex;
  margin-bottom: 28px;
}

.social_item {
  font-size: var(--list-font-size);
  font-weight: 700;
  color: var(--primary-color);
  opacity: 0.5;
}

.footer_down {
  font-size: var(--btn_arrow_font-size);
  font-weight: 400;
  color: var(--secondary-color);
}
