:root {
  --background-color: #0f1118;
  --primary-color: #fff;
  --secondary-color: #989cac;
  --third-color: #26272c;
  --accent-color: #ff455b;
}

body {
  margin: 0;
  font-style: normal;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
