.wrap {
  position: relative;
}

.img_icon {
  position: absolute;
  left: 18%;
  top: 10%;
}

.title {
  margin-top: 45px;
  margin-bottom: 19px;
  color: var(--primary-color);
  font-size: var(--list-font-size);
  font-weight: 600;
  text-transform: capitalize;
}

.description {
  color: var(--secondary-color);
  font-size: var(--btn-font-size);
  font-weight: 400;
}
